# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dmario_b2b
DB_USER=dmario
DB_PASS=dmario_dev_2026

# JWT
JWT_SECRET=cambia_esto_en_produccion_min_32_chars
JWT_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development
