# Base de datos
DB_HOST=localhost
DB_PORT=5435
DB_NAME=dmario_b2b
DB_USER=dmario
DB_PASS=dmario_dev_2026

# Better Auth
BETTER_AUTH_SECRET=cambia_esto_en_produccion_min_32_chars
BETTER_AUTH_URL=http://localhost:3000

# App
PORT=3000
NODE_ENV=development
